CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_80M=y
# CONFIG_SPIRAM_SPEED_20M is not set
CONFIG_HW_M5STACK_TAB5=y
# CONFIG_HW_WROVERKIT_V1 is not set
# CONFIG_HW_WROVERKIT_V2 is not set
# CONFIG_HW_CUSTOM is not set
# CONFIG_HW_PSX_ENA is not set
CONFIG_HW_TAB5_TOUCH_ENA=y
# CONFIG_LV_BUILD_EXAMPLES is not set
# CONFIG_LV_BUILD_DEMOS is not set
